<!-- templates/reservas/index.html -->

{% extends 'reservas/base.html' %}

{% block content %}
    <h2>Reservas Próximas</h2>
    <div class="row">
        {% for pista, horas in reservas_por_pista.items %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        {{ pista }}
                    </div>
                    <div class="card-body">
                        <table class="reservation-table">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Reserva</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hora, reserva in horas.items %}
                                    <tr class="{% if reserva %}reserved{% endif %}">
                                        <td>{{ hora|date:"H:i" }}</td>
                                        <td>
                                            {% if reserva %}
                                                {{ reserva.socio.first_name }} {{ reserva.socio.last_name }} - {{ reserva.pista.tipo }}
                                            {% else %}
                                                Libre
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}