{% extends "reservas/base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">Mis Reservas</h1>
    <div class="reservation-columns">
        {% for pista, reservas in reservas_por_pista.items %}
        <div class="reservation-column">
            <div class="pista-header">{{ pista }}</div>
            {% if reservas %}
            {% for reserva in reservas %}
            <div class="reservation-list-card">
                <div class="reservation-date">{{ reserva.fecha_hora_inicio|date:"F j, Y" }}</div>
                <div class="reservation-time">{{ reserva.fecha_hora_inicio|date:"H:i" }} - {{ reserva.fecha_hora_fin|date:"H:i" }}</div>
                <div class="player-info">
                    {% for jugador in reserva.jugadores %}
                    <div>{{ jugador.nombre }} {{ jugador.apellido }} ({{ jugador.tipo }})</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay reservas para esta pista.</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}