{% extends 'reservas/base.html' %}
{% block content %}
<div class="container">
    <div class="reservation-card">
        <div class="card-header">Reservar Pista</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="id_pista">Pista:</label>
                        {{ form.pista }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_fecha_hora_inicio">Fecha hora inicio:</label>
                        {{ form.fecha_hora_inicio }}
                    </div>
                </div>
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                        {{ form.nombre }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                        {{ form.apellido }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.tipo.id_for_label }}">Tipo de Jugador:</label>
                        {{ form.tipo }}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Reservar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}