<!-- templates/reservas/reserve.html -->

{% extends 'reservas/base.html' %}

{% block content %}
    <h2>Reservar Pista</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        <div class="form-row">
            {% for form in formset %}
                <div class="form-group col-md-4">
                    {{ form.nombre.label_tag }} {{ form.nombre }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.apellido.label_tag }} {{ form.apellido }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.tipo.label_tag }} {{ form.tipo }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
{% endblock %}