/* Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Estilos personalizados */
.navbar-custom {
    background-color: #007bff;
}
.navbar-custom a {
    color: white !important;
}
.navbar-custom .logout-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.navbar-custom .logout-form button {
    padding: 0;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
.container {
    margin-top: 20px;
}
.card {
    margin-bottom: 20px;
}
.reservation-table {
    width: 100%;
    table-layout: fixed;
}
.reservation-table th, .reservation-table td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}
.time-slot {
    height: 20px;
}
.reserved {
    background-color: #ffc107;
}